<ion-view view-title="Settings" cache-view="false">
  <ion-content>
    <ion-list>
        <div class="list">

            <div class="item item-divider">
                Settings
            </div>

            <ion-toggle ng-repeat="item in settingsList"
                        ng-model="item.checked"
                        ng-checked="item.checked">
                {{ item.text }}
            </ion-toggle>

            <div class="item">
                <pre ng-bind="settingsList | json"></pre>
            </div>

            <div class="item item-divider">
                Notifications
            </div>

            <ion-toggle ng-model="pushNotification.checked"
                        ng-change="pushNotificationChange()">
                Push Notifications
            </ion-toggle>

            <div class="item">
                <pre ng-bind="pushNotification | json"></pre>
            </div>





            <div class="item item-divider">
                Geschichtsverlauf: {{ data.chapters }}
            </div>

            <ion-radio ng-repeat="item in chapterList"
                       ng-value="item.value"
                       ng-model="data.chapters"
                       ng-change="chapterChange(item)"
                       name="chapter">
                {{ item.text }} - {{ item.value }}
            </ion-radio>

        </div>
    </ion-list>
  </ion-content>
</ion-view>
