<ion-view view-title="Dashboard">
    <ion-content>
        <ion-list id="list_new">
            <ion-item style="display: none;" id="block_new" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <img src="chat.face">
                <p id="lastText_chat.id">chat.lastText</p>
            </ion-item>
        </ion-list>

        <div class="button-bar" id="button_{{button.id}}" ng-repeat="button in buttons" style="display: none;">
            <a class="button button-outline button-block button-positive" ng-click="login({{button.id}}, true)">{{button.firstText}}</a>
            <a class="button button-outline button-block button-positive" ng-click="login({{button.id}}, false)">{{button.secondText}}</a>
        </div>

        <!--ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <p>Connection lost....</p>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <p>Connection lost....</p>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <p>Connection lost....</p>
            </ion-item>

        </ion-list-->

    </ion-content>
</ion-view>
