<ion-view view-title="Game">
    <ion-content>

        <ion-list id="list_new">


            <ion-item ng-repeat="(key, item) in readedChatsList"
                      ng-value="item.value"
                      ng-model="data.chats"
                      name="game"
                      ng-class="(item.face == null ? '' : ' item-avatar item-remove-animate item-icon-right')"
                      type="item-text-wrap"
                      id="ion-item_{{item.id}}">

                <img src="{{ item.face }}" ng-if="item.face != null && item.isButton != '1' && item.readed == '1'">

                <p ng-show="item.isButton != '1' && item.readed == '1'" id="{{ item.id }}"
                   class="{{ item.className }}">{{ item.text }}</p>


                <div class="button-bar" ng-show="item.isButton == '1' && item.readed == '1'">
                    <div ng-repeat="(buttonKey, buttonValue) in item.buttons"
                         class="button button-outline button-block"
                         ng-if="buttonKey < 3">
                        <a ng-class="{'button-positive active': isActive('{{button.id}}', 'left')}"
                           ng-click="clickedButton('{{buttonKey}}', 'left')">{{buttonValue}}</a>
                    </div>

                    <!-- Split-Button -->
                    <div uib-dropdown is-open="status.isopen" ng-if="splitButton(key, item.id)">
                        <a class="button button-outline button-block icon ion-navicon" id="single-button_{{key}}"
                           type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"
                           ng-click="chatChange('{{item.id}}')"></a>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button_{{key}}">
                            <li role="menuitem" ng-repeat="(buttonKey, buttonValue) in item.buttons" ng-if="buttonKey > 2">
                                    <a href="#" ng-click="chatChange('button')">{{buttonValue}}</a>
                                    <div ng-class="splitButtonLengthIsMoreThanKey('{{buttonKey}}') ? 'divider' : ''"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- Split-Button-Ends here -->

                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
