/* Empty. Add your own CSS if you like */
.tabs-top > .tabs, .tabs.tabs-top
{
    top: 0px;
    position: absolute;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p
{
    white-space: normal;
}

.has-tabs-top{
    top: 50px;
}

.item > .myTextred {
    color: red;
    text-align: center;
}

.item > .myTextblau {
    color: blue;
}

.item > .myTextblau_center {
    color: blue;
    text-align: center;
}
.button-bar > .dropdown > .dropdown-menu {
    left: -130px;
}

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.nodisplay {
    display: none;
}





@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

body {
    font: 16px/20px 'Cutive Mono', serif;
    background-color: red;
    background-image: url("../img/layout alien 1.png");
}

a {
    color: #222;
}

.wrap {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

.test {
    margin-top: 10px;
    text-align: left;
}

@media (min-width: 360px) {
    .view-container{


    }

    .pane,
    .view {

padding-top: 50px;
        padding-left: 65px;
    }
    .tabs-striped .tabs {

        background-color: transparent;
        border-style: none;
        margin-left: -65px;
    }

    .tab-item {
        flex: none;
        width:70px;
        padding-top:12px;
        height: 60px;

    }
}

